.App {
  text-align: center;
}

.texts {
  width: 85%;
  margin: 0 auto;
  padding: 20px;
}

button{
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: #1663be;
  color: #ffffff;
}